@import "../../base";


$size-sm: 2rem;
$size-sm-text: .8rem;
$size-md: 3rem;
$size-lg: 4rem;

$cl-light: #ffffff;
$cl-light-hover: #f2f2f2;
// $cl-light: #f2f2f2;
// $cl-light-hover: #ffffff;
$cl-light-text: $color-blue;

$cl-danger: #db4242;
$cl-danger-hover: #ca3e3e;
$cl-danger-text: white;

$cl-close: #ffbbbb;
$cl-close-hover: #ffa0a0;//#ff8989;
$cl-close-text: #db4242;//#ff5757;

$cl-dark: black;
$cl-dark-hover: black;
$cl-dark-text: white;

$cl-darker: #00000070;
$cl-darker-hover: #00000090;
$cl-darker-text: white;

$cl-blue: #1488CC23;
$cl-blue-hover: #1488CC40;
$cl-blue-text: #1488CC;

//fb-gradient - linear-gradient(to bottom, #19AFFF, #0062E0);

// $cl-primary: #007bff;//#1488CC;
$cl-primary: rgb(47, 147, 204);
$cl-primary-hover: #0071eb;
$cl-primary-text: #ffffff;

$transition: .25s;


.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
}



.b-circle {
    height: $size-md;
    width: $size-md;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    color: $color-blue;
    // background-color: #f2f2f2;
    transition: $transition;
    cursor: pointer;
}

.b-circle-image {
    background-position: center;
    background-size: cover;
}

.b-circle-sm {
    width: $size-sm;
    height: $size-sm;
    font-size: $size-sm-text;
}

.b-circle-md {
    width: $size-md;
    height: $size-md;
}

.b-circle-inherit {
    width: inherit;
    height: inherit;
    font-size: inherit;
}

.b-circle-lg {
    width: $size-lg;
    height: $size-lg;
    font-size: 1.2rem;
}

.b-circle-light {
    background-color: $cl-light;
    color: $cl-light-text;
}

.b-circle-light:hover {
    background-color: $cl-light-hover;
    color: $cl-light-text;
}

.b-circle-danger {
    background-color: $cl-danger;
    color: $cl-danger-text;
}

.b-circle-danger:hover {
    background-color: $cl-danger-hover;
    color: $cl-danger-text;
}

.b-circle-close {
    background-color: $cl-close;
    color: $cl-close-text;
}

.b-circle-close:hover {
    background-color: $cl-close-hover;
    color: $cl-close-text;
}

.b-circle-dark {
    background-color: $cl-dark;
    color: $cl-dark-text;
}

.b-circle-dark:hover {
    background-color: $cl-dark-hover;
    color: $cl-dark-text;
}

.b-circle-darker {
    background-color: $cl-darker;
    color: $cl-darker-text;
}

.b-circle-darker:hover {
    background-color: $cl-darker-hover;
    color: $cl-darker-text;
}

.b-circle-blue {
    background-color: $cl-blue;
    color: $cl-blue-text;
}

.b-circle-blue:hover {
    background-color: $cl-blue-hover;
    color: $cl-blue-text;
}

.b-circle-primary {
    background-color: $cl-primary;
    background-image: $cl-primary;
    color: $cl-primary-text;
}

.b-circle-primary:hover {
    background-color: $cl-primary-hover;
    color: $cl-primary-text;
}

a:hover {
    text-decoration: none;
}