@import "../../base";


.btn-circle-wrapper {
    width: $icon-size;
    height: $icon-size;
    border-radius: 50%;
    background-color: $color-light;
}

.btn-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.1rem;
    line-height: 1.1rem;
    width: $icon-size;
    height: $icon-size;
    border-radius: 50%;
    // background-color: #1488CC55;
    background-color: #1488CC23;
    // box-shadow: 1px 1px 3px #1488CC50;
    // box-shadow: 1px 1px 3px #ffffff;
    color: #1488CC;
    // margin: .5rem;
    background-size: cover;
    background-position: center;
    position: relative;
    transition: .2s;
    cursor: pointer;
}

.btn-circle:hover {
    background-color: #1488CC40;
    // color: white;
}

.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
}
  
// .btn {
//     border: 2px solid gray;
//     color: gray;
//     background-color: white;
//     padding: 8px 20px;
//     border-radius: 8px;
//     font-size: 20px;
//     font-weight: bold;
// }
  
.upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}

