@import "../../base";

$field-background-color: #00000020;
$field-background-color: #1488CC19;


$field-border: 1px solid $field-background-color;

$field-text-color: #000000;
$field-height: 3rem;

.post-stuff-add-field-wrapper {
    // flex-basis: auto;
    // flex-shrink: 1;
    // flex-grow: 1;
    -webkit-appearance: none;
    display: flex;
    background-color: $field-background-color;
    border-radius: 1.5rem;
    padding: .25rem;
    font-size: 1rem;
    border: $field-border;
    box-sizing: border-box;
}

.post-stuff-add-field-input {
    color: $field-text-color;
    // background-color: red;
    border: none;
    width: 100%;
    flex-shrink: 1;
    flex-grow: 1;
    flex-basis: auto;
    background-color: transparent;
    // margin-left: .75rem;
    // margin-left: -.5rem;
    padding-left: 0;
    margin-right: .75rem;
}

.post-stuff-add-field-input:focus {
    outline: none;
}

.field-opts {
    display: flex;
}


.post-stuff-add-field-icon-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: .5rem;
}

.post-stuff-add-field-icon {
    height: 1.25rem;
    width: 1.25rem;
    background-position: center;
    background-size: cover;
}

// .field-icon {
//     box-sizing: border-box;
//     margin: .25rem;
    
    
// }