@import "../../base";


.topbar-wrapper {
    // background-color: $color-light-blue;
    // padding: 1rem;
    height: 8rem;
    color: white;
    background-image: $grd-blue;
}

.topbar {
    padding: 1rem;
}

.topbar > * {
    margin-left: .5rem;
}

.topbar > *:last-child {
    margin-left: 0;
}


.search-wrapper {
    height: 3rem;
    border-radius: 30rem;
    background-color: #ffffff;
    min-width: 25rem;
    padding: .5rem;
    display: flex;
    align-items: center;
}

.search-input {
    border: none;
    padding: 0 .75rem;
    line-height: 1rem;
    background-color: transparent;
    flex-shrink: 1;
    flex-grow: 1;
    flex-basis: auto;
}

.search-input:focus {
    outline: none;
}

.search-button {
    // position: absolute;
    // right: 1rem;
    // height: 2rem;
    // width: 2rem;
    color: $color-blue;
}





.topbar1 {
    z-index: 10;
    padding: 1rem;
    display: flex;
    align-items: center;
}

.topbar-brand {
    font-size: 2rem;
    color: $color-blue;
}

.topbar-wrapper {
    // position: relative;
}

.topbar-search {
    border: none;
    border-bottom: 1px solid $color-light-black;
    padding-left: .25rem;
    padding-bottom: 3px;
    line-height: 1rem;
    background-color: transparent;
}

.topbar-search:focus {
    outline: none;
}

@media only screen and (max-width: 700px) {
    .search-wrapper {
        display: none;
    }
}