@import "../../base";

.profile-wrapper {

}

.profile-topbar {
    // display: flex;
    // background-color: $color-light;
    padding: 1rem;
    z-index: 99;
}

.profile-header {
    min-height: 35vh;
    max-height: 60vh;
    // background-color: $color-blue;
    background-image: linear-gradient(to bottom, $color-blue, $color-light);
    position: relative;
}

.profile-cover {
    // background-color: $color-light-blue;
    // height: 100%;    
}

.profile-user-header {
    position: absolute;
    bottom: -5rem;
    width: 100%;
    // left: 5rem;
    // background-color: $color-light-blue;
}

.profile-user-image {
    // border: 2px solid $color-light;
    box-shadow: 2px 2px 2px $color-light-black;
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    background-image: url(http://192.168.8.50:8000/img/1589622718860-Uqal21.jpg);
    // background-image: url(http://192.168.8.50:8000/img/avatar.jpg);
    background-position: center;
    background-size: cover;
}

.flex-basis-fixed {
    flex-basis: 0!important;
}