@import "../../base";

.cover-wrapper {
    position: fixed;
    margin: 0!important;
    top: 0px;
    left: 0px;
    height: 100vh;
    width: 100%;
    background-color: $cover-bg-color;
    z-index: 1000;
    padding: 5rem 1rem;
    overflow-y: scroll;
}

.cover {
    display: flex;
    justify-content: center;
    padding-bottom: 15vw;
    padding: 5rem 0;
}

.cover-modal {
    z-index: 1000;
}

@media only screen and (max-width: 700px) {
    .cover-modal {
        width: 100%;
    }
}