@import "../../base";

$topbar-height: 8rem;


.s-topbar {
    min-height: $topbar-height;
    background-image: $grd-blue;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
}

.s-topbar-flex {
    display: flex;
    align-items: center;
}

.s-topbar-title {
    // font-weight: 500;
    padding-left: 1rem;
    font-size: 1.4rem;
    color: #ffffff;
}

.setts-container {
    background-color: white;
    box-shadow: 1px 1px 5px $color-light-blue;
    border-radius: $border-radius-md;
    // margin-top: $topbar-height;
    // z-index: 1000!important;
    // height: 200vh;
    min-height: 90vh;
    padding: 1rem 0;
    // border: 1px solid $color-light-black;
}

.sub-setts-container > div {
    margin-top: .25rem;
    margin-bottom: 1rem;
    // padding: .5rem 0;
}

@media only screen and (max-width: 700px) {
    .sub-setts-container > div {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
}