@import "../../base";

.signin-wrapper {
    border-radius: $border-radius;
    // background-color: $color-light-blue;
    // padding: 1rem;
    margin-top: 1rem;
    width: 21rem;
}

.login-box {
    background-color: white;
    border-radius: $border-radius-md;
    border: 1px solid $color-light-black;
    min-width: 20rem;
    margin-bottom: 20vh;
}

.login-box div {
    margin: .5rem 0;
}

.login-box div:first-child {
    margin: 0;
}

.login-box div:last-child {
    margin: 0;
}

.auth-input  {
    border: 1px solid $color-light-black;
    width: 100%;
    font-size: 1rem;
    padding: .25rem .5rem;
    border-radius: $border-radius;
    // margin-top: 1rem;
}

input.signin-input {
    width: 100%;
    border-radius: $border-radius;
    border: none;
    font-size: 1.1rem;
    padding: .25rem .5rem;
    border-image: none;
    border: 1px solid #00000020;
    border-top: none;
    border-left: none;
}

::placeholder {
    color: #00000060;
}

label {
    font-size: .9rem;
    line-height: .9rem;
    margin-bottom: .125rem;
}