@import "../../base";

.cover-wrapper {
    position: fixed;
    margin: 0!important;
    top: 0px;
    left: 0px;
    height: 100vh;
    width: 100%;
    // background-color: transparent!important;
    background-color: $cover-bg-color;
    backdrop-filter: blur(5px);
    transition: 1s;
    z-index: 1000;
    padding: 5rem 0;
    overflow-y: scroll;
}

.cover {
    display: flex;
    justify-content: center;
    padding-bottom: 15vw;
    padding: 5rem 0;
}

.cover-modal {
    z-index: 1000;
    box-shadow: 5px 5px 45px #000000aa;
}

@media only screen and (max-width: 700px) {
    .cover-modal {
        width: 100%;
    }
}