@import "../../base";

.btn-opt {
    display: flex;
    align-items: center;
    justify-content: center;
    // background-color: #00000055;
    // background-color: $color-light-blue;
    border-radius: $border-radius-md;
    // padding: .5rem;
    color: $color-blue;
    cursor: pointer;
}

.btn-opt:hover {
    background-color: $color-light-blue;
}

.btn-opt-icon {
    font-size: 2rem;
    // line-height: 2rem;
    // padding: .75rem;
    margin: .5rem;
    // margin-right: .75rem;
    display: flex;
    align-items: center;
    justify-content: center;
    // width: 3.75rem;
}

.btn-opt-text {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    padding-left: 1rem;
    font-size: 1.1rem;
    line-height: 1.1rem;
    color: $color-text-black;
    padding-right: .75rem;
}

