@import "../../base";


$animation-duration: .3s;
$animation-timing-function: cubic-bezier();

$size: 2.3rem;
$opt-font-size: .8rem;
$spacing: .5rem;
$input-font-size: .95rem;
$input-padding: .5rem .75rem;

$mob-size: 2.5rem;
$mob-opt-font-size: 1rem;
$mob-spacing: .5rem;
$mob-input-font-size: 1.1rem;
$mob-input-padding: .25rem .75rem;

.field-group-wrapper {
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: column;
}

.field-wrapper {
    // padding: 0 0rem;
    display: inline-block;
    // max-width: 100vw;
    width: 22rem;
    overflow: hidden;
    // overflow-y: visible;
    
}

.dot {
    color: $color-text-black;
    margin: .25rem;
    font-size: .5rem;
    transform: scale(.4);
}

.loading {
    animation-name: loading;
    animation-timing-function: cubic-bezier();
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes loading {
    0% {
        opacity: 1;
        transform: scale(.5);
    }
    // 25% {
    //     transform: scale(1.25);
    // }
    // 50% {
    //     transform: scale(1);
    // }
    // 75% {
    //     transform: scale(1.25);
    // }
    100% {
        opacity: 0;
        transform: scale(1.5);
    }
}

.field-label {
    font-size: 1.05rem;
    // padding: 0 1rem;
    // padding-bottom: .25rem;
    color: $color-text-black;
    font-weight: 500;
    display: flex;
    align-items: center;
}

.field-status {
    padding-left: .25rem;
    font-size: .8rem;
}

.field-status-unsaved {
    color: $color-text-black;
}

.field-status-saved {
    color: $color-blue;
}

.field-status-failed {
    color: $color-light-red;
}

.field-history:hover {
    color: $color-blue;
}

.field {
    display: flex;
    position: relative;
    // overflow: hidden;
}

.field-input:focus {
    outline: none;
}

.field-input {
    color: $color-text-black;
    box-sizing: border-box;
    border-radius: $border-radius-md;
    margin-right: 0;
    width: 100%;
    font-size: $input-font-size;
    border: 1px solid $color-light-black;
    padding: $input-padding;
}

.field-input-toggle {
    margin-right: $size + $spacing;
    animation-name: input-toggle;
    animation-duration: $animation-duration;
    animation-timing-function: $animation-timing-function;
}

.field-input-extend {
    margin-right: 0;
    animation-name: input-extend;
    animation-duration: $animation-duration;
    animation-timing-function: $animation-timing-function;
}

@keyframes input-toggle {
    from {margin-right: 0}
    to {margin-right: $size + $spacing;}
}

@keyframes input-extend {
    from {margin-right: $size + $spacing;}
    to {margin-right: 0}
}

.field-opt {
    width: $size;
    height: $size;
    font-size: $opt-font-size;
    position: absolute;
    visibility: hidden;
    opacity: 0;
    right: -($size + $spacing);
}

.field-opt-appear {
    visibility: visible;
    opacity: 1;
    right: 0;
    animation-name: opt-appear;
    animation-duration: $animation-duration;
    animation-timing-function: $animation-timing-function;
}

.field-opt-disappear {
    visibility: hidden;
    opacity: 0;
    right: -($size + $spacing);
    animation-name: opt-disappear;
    animation-duration: $animation-duration;
    animation-timing-function: $animation-timing-function;
}

@keyframes opt-appear {
    0% {
        right: -($size + $spacing);
        visibility: hidden;
        opacity: 0;
    }
    40% {
        visibility: hidden;
        opacity: 0;
    }
    100% {
        visibility: visible;
        opacity: 1;
        right: 0;
    } 
}

@keyframes opt-disappear {
    0% {
        visibility: visible;
        opacity: 1;
        right: 0;
    }
    40% {
        visibility: hidden;
        opacity: 0;
    }
    100% {
        right: -($size + $spacing);
        visibility: hidden;
        opacity: 0;
    } 
}

@media only screen and (max-width: 700px) {
    .field-wrapper {
        width: 100%;
    }

    .field-label {
        font-size: 1.125rem;
    }

    .field-input {
        border-color: #00000020;
        height: $mob-size;
        padding: $mob-input-padding;
        font-size: $mob-input-font-size;
    }

    .field-opt {
        width: $mob-size;
        height: $mob-size;
        font-size: $mob-opt-font-size;
        right: -($mob-size + $mob-spacing);
    }
    
    .field-input-toggle {
        margin-right: $mob-size + $mob-spacing;
    }

    .field-input-extend {
        margin-right: 0;
    }
    
    @keyframes input-toggle {
        from {margin-right: 0}
        to {margin-right: $mob-size + $mob-spacing;}
    }
    
    @keyframes input-extend {
        from {margin-right: $mob-size + $mob-spacing;}
        to {margin-right: 0}
    }

    .field-opt-appear {
        visibility: visible;
        opacity: 1;
        right: 0;
    }

    .field-opt-disappear {
        visibility: hidden;
        opacity: 0;
        right: -($mob-size + $mob-spacing);
    }

    @keyframes opt-appear {
        0% {
            right: -($mob-size + $mob-spacing);
            visibility: hidden;
            opacity: 0;
        }
        40% {
            visibility: hidden;
            opacity: 0;
        }
        100% {
            visibility: visible;
            opacity: 1;
            right: 0;
        } 
    }

    @keyframes opt-disappear {
        0% {
            visibility: visible;
            opacity: 1;
            right: 0;
        }
        40% {
            visibility: hidden;
            opacity: 0;
        }
        100% {
            right: -($mob-size + $mob-spacing);
            visibility: hidden;
            opacity: 0;
        } 
    }
}