@import "../../base";

.post-stuff-add-wrapper {
    min-width: 25rem;
    background-color: $color-light;
    border-radius: $border-radius;
    padding: 1rem;
}

.post-stuff-add-field-line > * {
    margin-right: .5rem;
}

.post-stuff-add-field-line > *:last-child {
    margin-right: 0;
}

@media only screen and (max-width: 700px) {
    .post-stuff-add-wrapper {
        min-width: auto;
        display: block;
    }
}