@import "../../base";

html, body {
    // width: 100vw;
    // height: 100%;
    // margin: 0;
    // padding: 0;
    // overflow-x: hidden;
    // background-color: $color-light;
}

.sidebar-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    border-right: 1px solid #00000033;
}

.sidebar {
    width: 100%;
    height: 100%;
    padding: 1rem .25rem;
    display: flex;
    flex-flow: column;
}

.sidebar > div {
    margin: .25rem
}

.sidebar > a {
    margin: .25rem
}

.sidebar-item-circle {
    display: flex;
    // justify-content: center;
    align-items: center;
    // font-size: 1.25rem;
    // line-height: 1.25rem;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    // background-color: #1488CC55;
    // background-color: #1488CC40;
    // color: #1488CC;
    // margin: .5rem;
    background-size: cover;
    background-position: center;
    position: relative;
    cursor: pointer;
}

.sidebar-item-circle-tooltip {
    visibility: hidden;
    position: absolute;
    color: $tooltip-color;
    background-color: $tooltip-bg-color;
    // right: -170%;
    left: 4.5rem;
    font-size: 1rem;
    padding: .25rem .5rem;
    border-radius: 3px;
    opacity: 0;
    transition: .2s;
    white-space: nowrap;
}

.sidebar-item-circle:hover .sidebar-item-circle-tooltip {
    visibility: visible;
    opacity: 1;
}

@media only screen and (max-width: 700px) {
    .sidebar-wrapper {
        z-index: 500;
        position: sticky;
        height: auto;
        background-image: linear-gradient(to bottom, $color-blue, #1488CC00);
        padding-bottom: 3rem;
        border-right: none;
    }

    .sidebar {
        flex-flow: row;
        z-index: 500;
        padding: .5rem .5rem;
    }

    .sidebar-item-circle-tooltip {
        display: none;
    }
}