@import '../../base';

.hashtag-wrapper {
    display: inline-block;
    background-color: #1488CC20;
    color: #1488CC;
    border-radius: 3px;
    padding: .125rem .25rem;
    font-size: .9rem;
    margin-right: .25rem;
}

.hashtag {
    display: flex;
    align-items: center;
}

.hashtag-text {

}

.hashtag-close {
    display: flex;
    margin-left: .25rem;
    align-items: center;
    justify-content: center;
    font-size: .8rem;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    cursor: pointer;
}

.hashtag-close:hover {
    background-color: #1488CC20;
}