@import "../../base";

.post {
    margin-bottom: 3rem;
    box-shadow: 1px 1px 3px $color-light-black;
    border-radius: 7px;
    background-color: white;
}

.post-header {
    padding: .5rem;
    display: flex;
}

.post-body {
    // margin-top: .5rem;
    background-color: #00000010;
    border-bottom: 1px solid $color-light-black;
    text-align: center;
}

.post-footer {
    display: flex;
    // padding: .5rem .5rem;
    font-size: 1.3rem;
    color: #00000099;
}

.post-header-icon {
    width: $icon-size;
    height: $icon-size;
    border-radius: 50%;
    background-color: $color-light-blue;
    background-size: cover;
    background-position: center;
}

.post-header-text {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    padding-left: .75rem;
    display: flex;
    flex-flow: column;
}

.post-header-text-title {
    font-size: 1.2rem;
    line-height: 1.4rem;
    font-weight: 500;
    flex-shrink: 1;
    flex-grow: 1;
    flex-basis: auto;
}

.post-header-text-info {
    font-size: .85rem;
}

.post-body-img {
    max-height: 70vh;
}

.post-footer-btn {
    flex-shrink: 1;
    flex-grow: 1;
    flex-basis: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .3s;
    cursor: pointer;
    border-left: 7px;
    padding: .5rem;
}

.post-footer-btn:hover {
    color: $color-blue;
}

.post-footer-btn-icon {
    font-size: 1.3rem;
    margin-right: .5rem;
}

.post-footer-btn-text {
    font-size: 1rem;
    font-weight: 500;
}

.post-footer-btn-active {
    color: $color-blue;
}

.btn-like:hover {
    color: $color-blue;
}

.btn-like-active {
    color: $color-blue;
}

.btn-dislike:hover {
    color: $color-light-red;
}

.btn-dislike-active {
    color: $color-light-red;
}


@media only screen and (max-width: 700px) {
  
}