@import "../../base";

.modal-add-wrapper {
    z-index: 1000;
    background-color: $color-light;
    border-radius: $border-radius-md;
    display: flex;
    flex-flow: column;
    // margin: 0 auto;
    min-width: 30rem;
    max-width: 40rem;
    // min-height: 80vh;
    // margin: 1rem;
    // background-color: #00000099;
}

.modal-add-textarea {
    box-sizing: border-box;
    display: block;
    border: none;
    width: 100%;
    background-color: transparent;
    resize: none;
    padding: 1rem;
}

.modal-add-textarea:focus {
    outline: none;
}

.modal-add-upload-section {
    padding: .75rem 1rem;
    display: flex;
}

.modal-add-upload-section > div {
    margin-right: .5rem;
}

.modal-add-section-delimiter {
    height: 1px;
    background-color: $color-light-black;
}

.modal-add-hashtag-section {
    padding: 1rem;
}

.modal-add-hashtag-input {
    margin: 0;
    border: 1px solid $color-light-black;
    // border-radius: 25px;
    border-radius: $border-radius;
    width: 100%;
    font-size: 1rem;
    padding: .25rem .5rem;
}

.modal-add-hashtag-input:focus {
    outline: none;
}

.modal-add-image {
    // width: 100%;
    max-height: 70vh;
}

@media only screen and (max-width: 700px) {
    .modal-add-wrapper {
        max-width: none;
        min-width: auto;
        width: 100%;
    }
}