@import '../../base';

.signup-wrapper {
    border-radius: $border-radius;
    // background-color: $color-light-blue;
    // padding: 1rem;
    margin-top: 1rem;
    width: 21rem;
}

.signup-wrapper > div {
    padding: .5rem 0;
}

.signup-wrapper > div:last-child {
    border-bottom: none;
    padding-bottom: 0;
}

.signup-wrapper > div:first-child {
    padding-top: 0;
}

input.signup-input {
    width: 100%;
    border-radius: $border-radius;
    border: none;
    font-size: 1.1rem;
    padding: .25rem .5rem;
    border-image: none;
    border: 1px solid #00000020;
    border-top: none;
    border-left: none;
}

::placeholder {
    color: #00000060;
}

label {
    font-size: .9rem;
    line-height: .9rem;
    margin-bottom: .125rem;
}