@import "../../base";

.mui-wrapper {
    max-width: 100vw;
    max-width: 100vh;
}

.mui-image {
    width: 100%;
    max-width: 100vw;
    max-height: 100vh;
}

.mui-opts {
    display: flex;
    justify-content: center;
    padding-top: 1rem;
}