$color-light: #f2f2f2;
$color-light-black: #00000030;
$color-text-black: #000000b0;
$color-blue: #1488CC;
$color-light-red: #db4242;
$color-light-blue: #1488CC40;

$color-light-blue: #1488CC23;

$grd-blue: linear-gradient(to bottom, $color-blue, #1488CC00);


$border-radius: 3px;
$border-radius-md: 7px;

$icon-size: 3rem;

$tooltip-bg-color: #00000099;
$tooltip-color: $color-light;

$cover-bg-color: #000000a0;




.utooltip-text {
    visibility: hidden;
    position: absolute;
    color: $tooltip-color;
    background-color: $tooltip-bg-color;
    font-size: 1rem;
    padding: .25rem .5rem;
    border-radius: 3px;
    opacity: 0;
    transition: .2s;
    white-space: nowrap;
    left: 4.5rem;
}

.utooltip:hover .utooltip-text {
    visibility: visible;
    opacity: 1;
}

.delimiter {
    background-color: #dee2e650;
    height: 1px;
    // margin: 0 .5rem;
}

.text-light-red {
    color: #db4242bb;
}

.text-light-yellow {
    color: #ff9d00bb;
}

.text-light-blue {
    color: #0088ffbb;
}

* {
    -webkit-appearance: none;
}

@media only screen and (max-width: 700px) {
    .utooltip-text {
        display: none;
    }

    .r-pads {
        padding-left: 0;
        padding-right: 0;
    }
}